@charset "UTF-8";
/* CSS Document */

/* render html5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}
#container {
	width: 1050px;
	min-height: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.video-container {
	margin-top: 20px;
}
html, body {
	width: 100%;
	padding: 0;
	margin: auto;
}
body {
	background: url(../img/bg.jpg);
	background-size: auto 100%;
	background-position: top center;
}
#full-screen-background-image {
	z-index: -999;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}
header {
	width: 1100px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	display: none;
}
#logo {
	display: block;
	width: 439px;
	height: 140px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
aside {
	background-image: url(../img/left.png);
	background-repeat: no-repeat;
	width: 360px;
	height: 640px;
	float: left;
	padding-top: 20px;
	padding-left: 35px;
}
h2, h3, h4{
	font-family: "celuloregular", "Trebuchet", sans-serif;
	font-size: 17px;
	color: #dd7b2c;
	background-color: #000;
	display: block;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 5px;
	padding-left: 6px;
	width: 276px;
}
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
h4{
	margin-bottom: 10px;
}
#email a{
	display: block;
	background-image: url(../img/email.png);
	background-repeat: no-repeat;
	width: 121px;
	height: 36px;
	margin-top: 10px;
	margin-bottom: 20px;
}
#facebook a{
	display: block;
	width: 121px;
	height: 36px;
	margin-top: 10px;
	margin-bottom: 20px;
}
aside em {
	display: none;
}
#main {
	background-image:url(../img/right.png);
	background-repeat: no-repeat;
	width: 668px;
	height: 640px;
	float: left;
	margin-left: -50px;
	border-left-style: dashed;
	border-left-color: #000;
}
#main em {
	display: none;
}
#ad {
	background-image:url(../img/ad.png);
	background-repeat: no-repeat;
	width: 420px;
	height: 71px;
	float: left;
	margin-left: 110px;
	margin-top: 20px;
	margin-bottom: 17px;
}
/*#dl {
	background-image:url(../img/appstore.png);
	background-repeat: no-repeat;
	width: 135px;
	height: 40px;
	margin-left: 275px;
	margin-top: 15px;
}*/
#youtube {
	margin-left: 110px;
}
#press {
	background-image: url(../img/press.png);
	background-repeat: no-repeat;
	width: 411px;
	height: 73px;
	float: left;
	margin-left: 5px;
	margin-top: 20px;
}
#press p {
	font-family: "celuloregular", "Trebuchet", sans-serif;
	font-size: 12px;
	width: 668px;
	float: left;
	margin-left: 65px;
	margin-top: 30px;
	color: #000;
}
#press a {
	color: #33799A;
}
#credits {
	background-image: url(../img/credits.png);
	background-repeat: no-repeat;
	width: 355px;
	height: 39px;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}
#wizcorp {
	width: 39px;
	height: 39px;
	float: left;
	margin-left: 80px;
	display: block;
}
#html {
	background-image: url(../img/html.png);
	background-repeat: no-repeat;
	width: 22px;
	height: 29px;
	float: left;
	margin-left: 100px;
	margin-top: 10px;
	display: block;
}
#phonegap {
	width: 36px;
	height: 36px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	display: block;
}
#ejecta {
	width: 51px;
	height: 21px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	display: block;
}
footer {
	width: 1050px;
	height: 20px;
	float: left;
	font-family: "Arial", "Trebuchet", sans-serif;
	font-size: 14px;
	color: #115575;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
